/* App.css */

.App {
  text-align: center;
}

.App button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.App button:hover {
  background-color: #2196f3;
}
